<header class="jumbotron jumbotron-fluid mx-n3" role="banner">
    <div class="container">
        <!-- <video class="hero-video" poster="https://imgur.com/8elpqzS.jpg" autoplay loop muted playsinline>
            <source src="https://imgur.com/nGEMJqB.mp4"
                type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
            <img src="https://imgur.com/8elpqzS.jpg"
                title="Your browser does not support the mp4 video codec.">
        </video> -->
        <div class="text-center">
            <h1 class="display-3 mb-5">{{ site.title | default: site.github.repository_name }}</h1>
            <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
        </div>
    </div>
</header>