<div class="my-3">
    <ol class="list-unstyled">
        {% for post in site.posts %}
        <li class="media my-5">
            <div class="row">
                <div class="col-12 col-md-4">
                    <a href="{{ post.url }}">
                        <img src="{{ post.image }}" class="mb-3 mb-md-0 mr-0 mr-md-4 img-fluid rounded img-aspect-fill" alt="{{ post.title }}">
                    </a>
                </div>
                <div class="col-12 col-md-8">
                    <div class="media-body">
                        <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
                        <h6>{{ post.date | date_to_string: "ordinal", "US"}} by {{ post.author }}</h6>
                        <p>{{ post.excerpt }}</p>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ol>
</div>