$enable-responsive-font-size: true;
$enable-gradients: true;

$font-size-base: 1.2rem;

$container-max-widths: (
  sm: 500px,
  md: 640px,
  lg: 680px,
  xl: 940px
);

$headings-margin-bottom: 1rem;

$white:    #1C2529;
$gray-900: #f8f9fa;
$gray-800: #e9ecef;
$gray-700: #dee2e6;
$gray-600: #ced4da;
$gray-500: #adb5bd;
$gray-400: #6c757d;
$gray-300: #495057;
$gray-200: #343a40;
$gray-100: #212529;
$black:    #fff;

$primary: #12C0E6;
$body-color: $gray-900;

@import url('https://fonts.googleapis.com/css?family=Karla:400|Space+Mono:400,700&display=swap');

$font-family-sans-serif: 'Karla', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: 'Space Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$headings-font-family: $font-family-monospace;
$headings-font-weight: 700;

$headings-margin-bottom: 2rem;

// $blue: #12C0E6;
// $gray: rgba(255,255,255,0.2);
// $white: rgba(255,255,255,0.9);
// $dark-blue: #181C3D;

// // Breakpoints
// $large-breakpoint: 64em;
// $medium-breakpoint: 42em;

// // Background
// $bg-color: $dark-blue;

// // Headers
// $header-heading-color: $white;
// $header-bg-color: $blue;
// $header-bg-color-secondary: #155799;

// // Text
// $section-headings-color: $white;
// $body-text-color: $white;
// $body-text-size: 1.3rem;
// $body-link-color: $blue;
// $blockquote-bg-color: lighten($bg-color, 10%);
// $blockquote-text-color: lighten($bg-color, 60%);

// // Code
// $code-bg-color: lighten($bg-color, 10%);
// $code-text-color: lighten($bg-color, 60%);;

// // Borders
// $border-color: $gray;
// $table-border-color: $gray;
// $hr-border-color: $gray;
// $border-radius: 0.4rem;
// $border-padding: 0.25rem;

// // Spacing
// $spacing: 1rem;
