$blue: #12C0E6;
$gray: rgba(255,255,255,0.2);
$white: rgba(255,255,255,0.9);
$dark-blue: #181C3D;

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Background
$bg-color: $dark-blue;

// Headers
$header-heading-color: $white;
$header-bg-color: $blue;
$header-bg-color-secondary: #155799;

// Text
$section-headings-color: $white;
$body-text-color: $white;
$body-text-size: 1.3rem;
$body-link-color: $blue;
$blockquote-bg-color: lighten($bg-color, 10%);
$blockquote-text-color: lighten($bg-color, 60%);

// Code
$code-bg-color: lighten($bg-color, 10%);
$code-text-color: lighten($bg-color, 60%);;

// Borders
$border-color: $gray;
$table-border-color: $gray;
$hr-border-color: $gray;
$border-radius: 0.4rem;
$border-padding: 0.25rem;

// Spacing
$spacing: 1rem;
