---
---

// If you'd like to change the theme's Sass variables, you must set new values before the @import line.

// Override theme Sass variables if needed
@import 'variableOverrides';

@import "{{ site.theme }}";

// add custom css / sass here

@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Space+Mono:400i,700,700i&display=swap');

// https://www.youtube.com/watch?v=c64pZtavENY

body {
    font-family: 'Karla', sans-serif;
    color: $body-text-color;
    background-color: $bg-color;
    text-rendering: geometricPrecision;
}

p, ul, li {
    font-size: $body-text-size;
}

a {
    text-decoration: underline;
}

nav {
    text-align: center;
    padding-top: $spacing;
    padding-bottom: $spacing;

    a {
        text-decoration: none;
        border-color: $body-text-color;
        border-width: 1px;
        border-style: solid;
        border-radius: $border-radius; 
        color: $body-text-color;
        padding: $border-padding * 2;
        margin-left: $spacing;
        margin-right: $spacing;
    }
}

h1, h2, h3, h4, h5, h6 {
    a {
        color: $section-headings-color
    }
}

h1, h2 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

h2 {
    font-style: italic;
}

h3 {
    margin-bottom: 0.5rem !important;
    font-weight: 700 !important;
}

footer {
    text-align: center;
}

figure {
    border: 2px solid lighten($bg-color, 10%);
    padding: 1.5rem;
    margin: $spacing 0 $spacing 0;
    border-radius: $border-radius;
    text-align: center;
    background: darken($bg-color, 10%);

    img {
        width: 100%;
        object-fit: contain;
        border: 0;
        border-radius: $border-radius;
    }
}

blockquote {
    background-color: $blockquote-bg-color;
    padding: $spacing !important;
}

.page-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) );
}

#hero-video {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: -100;
}

.project-info {
    display: block;
    max-width: 64rem;
    margin: 0 auto;
}

.post-header-image {
    object-fit: cover;
    object-position: top center;
    height: 15rem;
    width: 100%;
    border-radius: $border-radius;
}

.post-categories {
    list-style-type: none;
    margin: 0;
    padding: $spacing 0 $spacing 0;
    overflow: hidden;
    
    li {
        font-size: 1rem;
        background-color: #12C0E6;
        float: left;
        display: block;
        color: white;
        margin-right: 0.5rem;
        padding: $border-padding;
        border-radius: $border-radius;
    }
}

.posts-list {
    list-style-type: none;
    margin: 0;
    padding: $spacing 0 0 0;

    li {
        margin-bottom: 3rem;
    }
}

.site-footer {
    margin-bottom: 2rem;
}

ol {
    li {
        margin-bottom: $spacing;
    }
}
