---
---

// If you'd like to change the theme's Sass variables, you must set new values before the @import line.

// Override theme Sass variables if needed
@import 'variableOverrides';

@import 'bootstrap/bootstrap.scss';

// add custom css / sass here


// https://www.youtube.com/watch?v=c64pZtavENY

.img-aspect-fill {
    object-fit: cover;
}

hr {
    margin: 4rem 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer {
    padding: 4rem 0;
    background-color: $gray-200;
}

// p, ul, li {
//     font-size: $body-text-size;
// }

// a {
//     text-decoration: underline;
// }

// hr {
//     margin-top: 2rem;
//     margin-bottom: 2rem;
// }

// nav {
//     text-align: center;
//     padding-top: $spacer;
//     padding-bottom: $spacer;

//     a {
//         text-decoration: none;
//         border: 1px solid $body-color;
//         border-radius: $border-radius; 
//         color: $body-color;
//         padding: $spacer;
//         margin-left: $spacer;
//         margin-right: $spacer;
//     }
// }

// h1 {
//     font-size: 3rem;
// }

// h1, h2 {
//     font-family: 'Space Mono', monospace;
// }

// h2 {
//     font-size: 2.9 !important;
//     font-weight: 700 !important;
//     margin-top: 3rem !important;
//     margin-bottom: 3rem !important;
// }

// h3 {
//     margin-bottom: 0.5rem !important;
//     font-weight: 700 !important;
// }

// footer {
//     text-align: center;
// }

// figure {
//     border: 2px solid lighten($bg-color, 10%);
//     padding: 1.5rem;
//     margin: $spacer 0 $spacer 0;
//     border-radius: $border-radius;
//     text-align: center;
//     background: darken($bg-color, 10%);

//     img {
//         width: 100%;
//         object-fit: contain;
//         border: 0;
//         border-radius: $border-radius;
//     }
// }

blockquote {
    background-color: $gray-100;
    padding: $spacer;
    border-left: 0.5rem solid $gray-300;
    p {
        margin: 0;
    }
}

// .hero-video-wrapper {
//     width: 100%;
//     overflow: hidden;
//     background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) );
// }

// .hero-video {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: auto;
//     width: 100%;
//     z-index: -100;
// }

// .post-header-image {
//     object-fit: cover;
//     height: 30rem;
//     width: 100%;
// }

// .post-categories {
//     list-style-type: none;
//     margin: 0;
//     padding: $spacer 0 $spacer 0;
//     overflow: hidden;
    
//     li {
//         font-size: 1rem;
//         background-color: lighten($color: $bg-color, $amount: 20);
//         float: left;
//         display: block;
//         color: white;
//         margin-right: 0.5rem;
//         padding: $spacer;
//         border-radius: $border-radius;
//     }
// }

// .posts-list {
//     list-style-type: none;
//     margin: 0;
//     padding: $spacer 0 0 0;

//     li {
//         margin-bottom: 3rem;
//     }
// }

// .site-footer {
//     margin-bottom: 2rem;
// }

// ol {
//     li {
//         margin-bottom: $spacer;
//     }
// }
